[Unit]
Description="cURL headnode with Flight Profile remove request"
DefaultDependencies=no
Requires=network.target
Before=shutdown.target
After=sshd.service flight-slurmd.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/opt/flight/libexec/profile/shutdown.sh

[Install]
WantedBy=halt.target shutdown.target
